# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/b837021a9674d6151972df96aebbab5a
/build/cache.dill.track.dill
/build/f872507f30e2ff2523f0f1d19160266e.cache.dill.track.dill
/build/last_build_run.json
/build/generated
/build/intermediates
/build/kotlin
/build/kotlinToolingMetadata
/build/tmp
/build/apk
/build/logs
/build/mapping
/build/sdk_dependencies
/build/apk-debug.apk
/build/app-debug.apk
/build/app-release.apk

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
